:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

header {
  display: flex;
  justify-content: center;
}

#form-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

#card-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-around;
}

.weather-card {
  background-color: #1f2028;
  display: flex;
  flex: 0 0 calc((100- (3 * 16px)) / 4); /* fit 4 cards in a row */
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90%;
  width: 20%;
  border-radius: 10px;
  color: var(--text-h);
}

h4 {
  margin-top: 0;
  height: 15%;
  font-size: clamp(1rem, 2.5vw, 3rem); /*Min size, dynamic scaling, max size*/
}

.weather-visibility-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: -15%;
  font-size: clamp(1rem, 2.5vw, 3rem);
}

.comment-container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 80%;
  height: 22%;
  display: flex;
  align-items: center;
}

p {
  text-align: justify;
}

#weather-p,
#visibility-p {
  font-size: clamp(
    big,
    2.5vw,
    xx-large
  ); /*Min size, dynamic scaling, max size*/
  font-weight: bolder;
}

#comment-p {
  font-size: clamp(
    small,
    medium,
    large
  ); /*Min size, dynamic scaling, max size*/
}

#newEntry-form {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: x-large;
  justify-content: space-between;
  height: 100%;
}

label,
legend {
  color: var(--text-h);
}

input {
  font-size: xx-large;
  border-radius: 10px;
  margin: 3vh;
}

button {
  font-size: xx-large;
  border-radius: 10px;
}

#submit-button {
  margin-top: 20px;
}

#error-message {
  font-size: x-large;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px 0 20px 0;
  width: 100%;
}

fieldset {
  display: flex;
}
